In [150]:
import tensorflow as tf
import numpy as np
import pandas as pd
import pickle
from tensorflow.keras.models import load_model

In [ ]:
#load trained model , 
model = load_model('model.h5')

#load the encoder and scaler
with open('ohe_geo.pkl','rb') as file:
    ohe_geo = pickle.load(file)

with open('label_encoder_gender.pkl','rb') as file:
    label_encoder_gender = pickle.load(file)
    
with open('scaler.pkl','rb') as file:
    scaler = pickle.load(file)

In [ ]:

input_data ={
        'CreditScore':600,
    'Geography':'France'
    ,'Gender':'male'
    ,'Age':40
    ,'Tenure':3
    ,'Balance':100000
    ,'NumOfProducts':2
    ,'HasCrCard':1
    ,'IsActiveMember':1
    ,'EstimatedSalary':500000
}

In [153]:
#one hot encoded geography
geo_encoded = ohe_geo.transform([[input_data['Geography']]]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded,columns = ohe_geo.get_feature_names_out(['Geography']))
geo_encoded_df

c:\Users\laxma\miniconda3\envs\your_env_name\lib\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [154]:
input_df = pd.DataFrame([input_data])
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,male,40,3,100000,2,1,1,500000

In [155]:
#encode categorial value
from sklearn.preprocessing import LabelEncoder

label_encoder_gender = LabelEncoder()
input_df['Gender']= label_encoder_gender.fit_transform(input_df['Gender'])
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,0,40,3,100000,2,1,1,500000

In [156]:
#concate the one hot encoded
input_df = pd.concat([input_df.drop('Geography',axis=1),geo_encoded_df],axis=1)
input_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,0,40,3,100000,2,1,1,500000,1.0,0.0,0.0

In [157]:
##scaling the input data
input_scaled = scaler.transform(input_df)
input_scaled

array([[-0.47154541, -1.09997489,  0.09477172, -0.69844549,  0.35382451,
         0.80510537,  0.63367318,  0.95214374,  6.98395697,  0.98019606,
        -0.57581067, -0.56349184]])

In [158]:
#predict the churn
prediction = model.predict(input_scaled)
prediction

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 24ms/step

array([[0.03287281]], dtype=float32)

In [159]:
prediction_proba = prediction[0][0]
prediction_proba

np.float32(0.03287281)

In [160]:
if(prediction_proba>0.5):
    print("client likes this")
else :
    print("Client not likes this")

Client not likes this